@import "tailwindcss";
.collapse {
    visibility: visible !important;
    display: block !important;
  }
  
  .no-underline {
    text-decoration: none !important; 
  }
  
  .no-underline:hover{
    color: rgb(255, 3, 8) !important;
  }