@import "tailwindcss";
.collapse {
    visibility: visible !important;
    display: block !important;
  }
  
  .no-underline {
    text-decoration: none !important; 
  }
  
  .home-link:hover {
    color: rgb(255, 3, 8) !important;
}

.link:hover {
  color: white !important;
  background-color: rgb(76, 76, 76);
  transition-duration: .7s ;
}

